<nav class="navbar navbar-expand-lg navbar-light navbar-inverse">
  <div class="container">
    <span class="navbar-text">
      <%= link_to "Guessing Game", root_path, class: 'h2 text-dark' %>
    </span>
    <div class="navbar-brand navbar-right">
      <p> tu cos wstaw baranie </p>
    </div>
 </div>
</nav>
